<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>condition</title>
</head>
<body>
<div id="app">
    <h2 v-if="isFlag">isFlag为true显示</h2>
    <h2 v-show="isShow">isShow为true显示</h2>
    <div v-if="age<18">未成年</div>
    <div v-else-if="age<60">壮年</div>
    <div v-else>暮年</div>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            isFlag: true,
            isShow: false,
            age: 43,
        },
        watch: {},
        computed: {},
        methods: {},

    })
</script>
</body>
</html>